
:root {
  --medium_blue: #1074b3;
  --light_orange: #fff5e3;
  --white: #ffffff
}


h1, h2, h3, h4, h5, h6, p {
    color: var(--medium_blue)
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 5px;
    background-color: var(--white) //
}


.box {
    padding: 5px; /* space within the bubble */
    padding-left: 15px; /* extra space on left */
    margin: 5%;
    background-color: var(--light_orange);
    box-shadow: 10px 10px var(--medium_blue);
}
